body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 16px;
}

.left .right {
    display: flex;
    align-items: center;
}
.left {
    width: 400px;
    height: 24px;
}
.right {
    width: 400px;
}
.left li {
    float: left;
}

.right li {
    float: right;
}

.logo {
    size: 24px;
    font-weight: 900;
    color: #f9faf8;
    background-color: #1f2937;
    width: 400px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
    width: 400px;
    size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    height: 300px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero-main {
    margin-left: 48px;
    width: 400px;
    flex-shrink: 1/2;
}
.hero-main h1 {
    size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-main p {
    color: #e5e7eb;
    size: 18px;
}

.hero-pic {
    width: 400px;
    height: 200px;
    border: solid #999;
    background-color: #777;
    color: #e5e7eb;
    text-align: center;
    vertical-align: middle;
}

button {
    padding: 8px 16px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    font-weight: bold;
}

